---
import Brand from './Brand.astro';
import { REPO, RELEASES } from '../consts';
---
<footer>
  <div class="wrap foot">
    <Brand href="/" />
    <div class="foot-links">
      <a class="link" href="/#features">Features</a>
      <a class="link" href="/#use-cases">Use cases</a>
      <a class="link" href="/#faq">FAQ</a>
      <a class="link" href="/privacy">Privacy</a>
      <a class="link" href={REPO}>GitHub</a>
      <a class="link" href={RELEASES}>Releases</a>
      <span class="small">On-device · free · no telemetry</span>
    </div>
  </div>
</footer>
